% Resume template adapted from Jake Gutierrez / sb2nov (MIT).
\documentclass[letterpaper,10pt]{article}
\usepackage[margin=0.4in]{geometry}
\usepackage[T1]{fontenc}
\usepackage{titlesec,enumitem,tabularx}
\usepackage[hidelinks]{hyperref}
\pagestyle{empty}
\ifdefined\pdfgentounicode\input{glyphtounicode}\pdfgentounicode=1\fi
\raggedright
\setlength{\parindent}{0pt}
\setlength{\tabcolsep}{0pt}
\titleformat{\section}{\large\bfseries\scshape}{}{0em}{}[\titlerule]
\titlespacing*{\section}{0pt}{6pt}{4pt}
\setlist[itemize]{leftmargin=12pt,topsep=2pt,itemsep=0pt,parsep=0pt,partopsep=0pt}
\newcommand{\entry}[4]{\textbf{#1}\hfill\textbf{\small #2}\\\textit{\small #3}\hfill\textit{\small #4}\par}
\begin{document}
{\small <VAR>citizenship | latex_escape</VAR>}\vspace{-5pt}
\begin{center}
{\Huge\scshape <VAR>name | latex_escape</VAR>}\\[4pt]
{\small <VAR>phone | latex_escape</VAR> $|$ \href{<VAR>('mailto:' ~ email) | latex_url</VAR>}{<VAR>email | latex_escape</VAR>} $|$
<BLOCK>for link in links</BLOCK>
\href{<VAR>link.url | latex_url</VAR>}{<VAR>link.label | latex_escape</VAR>}<BLOCK>if loop.index == 2</BLOCK>\\[2pt]<BLOCK>elif not loop.last</BLOCK> $|$ <BLOCK>endif</BLOCK>
<BLOCK>endfor</BLOCK>
}
\end{center}\vspace{-9pt}
\section{Education}
<BLOCK>for edu in education</BLOCK>
\entry{<VAR>edu.institution | latex_escape</VAR>}{<VAR>edu.dates | latex_escape</VAR>}{<VAR>edu.degree | latex_escape</VAR>}{<VAR>edu.location | latex_escape</VAR>}
\begin{itemize}\small
<BLOCK>for detail in edu.details</BLOCK>
\item <VAR>detail | latex_escape</VAR>
<BLOCK>endfor</BLOCK>
\end{itemize}
<BLOCK>endfor</BLOCK>
\section{Experience}
<BLOCK>for id, exp in experiences.items()</BLOCK>
\entry{<VAR>exp.title | latex_escape</VAR>}{<VAR>exp.dates | latex_escape</VAR>}{<BLOCK>if exp.url</BLOCK>\href{<VAR>exp.url | latex_url</VAR>}{<VAR>exp.company | latex_escape</VAR>}<BLOCK>else</BLOCK><VAR>exp.company | latex_escape</VAR><BLOCK>endif</BLOCK>}{<VAR>exp.location | latex_escape</VAR>}
\begin{itemize}\small
<BLOCK>for detail in exp.details</BLOCK>
\item <VAR>detail | latex_escape</VAR>
<BLOCK>endfor</BLOCK>
\end{itemize}\vspace{2pt}
<BLOCK>endfor</BLOCK>
\section{Impactful Projects}
<BLOCK>for id, proj in projects.items()</BLOCK>
{\small\textbf{<BLOCK>if proj.url</BLOCK>\href{<VAR>proj.url | latex_url</VAR>}{<VAR>proj.title | latex_escape</VAR>}<BLOCK>else</BLOCK><VAR>proj.title | latex_escape</VAR><BLOCK>endif</BLOCK>} $|$ \emph{<VAR>proj.technologies | latex_escape</VAR>}}\par
\begin{itemize}\small
<BLOCK>for detail in proj.details</BLOCK>
\item <VAR>detail | latex_escape</VAR>
<BLOCK>endfor</BLOCK>
\end{itemize}
<BLOCK>endfor</BLOCK>
\section{Skills}
{\small
<BLOCK>for category, value in skills.items()</BLOCK>
\textbf{<VAR>category | latex_escape</VAR>}: <VAR>value | latex_escape</VAR>\\[2pt]
<BLOCK>endfor</BLOCK>
}
\end{document}
